.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.headerApp{
  background-color: #6363b9;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

